/* 텍스트 링크 모음 */
:root {
  --base-font-family: "SUIT"
}

.member-service {
  --font-size: 0.875rem;


  font-size: 0;
  
  list-style-type: none;
   padding-inline-start: 0;    /*왼쪽 여백 사라지는 효과*/
   margin: 0;
   text-align: right;               /*세트효과로 작성하면 좋을 듯*/
    inline-size: 800px;
                     
   
  li {                            /*처음에 인라인사이즈200px 적용안됨,width 지원안하니까*/
             
    display: inline-block;          /*하지만 인라인 블록으로 변경하면 바뀜*/
    /*inline-size: 200px;*/             /*여백(노란색)이 생기는데 마진을 a와 li 둘다 작성해도 안바뀜*/
    margin: 0;
    font-size: var(--font-size);        /*html 코드에 공백이랑 연관이 있다, 한 줄로 마크업하면 된다 대신 가독성 떨어짐 */
    
    a {
      display: inherit;
      padding: 8px 8px 8px 4px;           /*    */    /*이 방법이 좋은 점 콜롬은 인식을 안함 패딩 아님 어딘지 찾아야함 코드에서  */
      font-variant: small-caps;               /*</li   /*왼쪽처럼 꺾새로 작성함 옜날에는  */
      margin: 0;                             /*><li>*/
      text-transform: uppercase;
      color: inherit;
      text-decoration: none;            
    }                                        /*상속을 이용하자 ul한테 사이즈0을주고  */
                                    
  } 
   
                                  
                                    
                               
}
